.service{
    padding: 3em 5em;
}

.service-container-header{
    color: white;
    text-align: center;
    font-family: var(--font-family);
}

.service-container-header h3{
    text-transform: uppercase; 
    font-size: 3rem;
    margin-bottom: .5em;
}

.service-container-header p{
    font-size: 1rem;
    margin: 0 5em;
}

.service-container-service{
    margin-top: 5em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
}

@media screen and (max-width:768px) {
    .service{
        padding: 3em 3em;
    }

    .service-container-header p{
        margin: 0;
    }
}

@media screen and (max-width: 690px) {
    .service-container-service{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 550px) {
    .service{
        padding: 2em;
    }   
}

@media screen and (max-width: 450px) {
    .service-container-service{
        grid-template-columns: repeat(1, 1fr);
        margin-top: 4em;
    }
}
