.pricing{
    padding: 5em 5em;
    display: flex;
    justify-content: center;
    background-image: url('../../assets/bg2.png');
    background-repeat:no-repeat;
    background-size: cover;
    flex-direction: column;
}

.pricing-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    text-align: center;
    grid-gap: 0 5em;
}

.pricing-adv{
    display: flex;
    justify-content: flex-start;
    margin-top: 8em;
    font-family: var(--font-family);
    color: white;
}
.pricing-adv-left{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
}

.pricing-adv-left button{
    padding: 1em 3em;
    border-radius: 15px;
    margin-top: 1em;
}
.pricing-adv-left h2{
    font-size: 5rem;
    font-weight: 600;
}

.pricing-adv-right{
    margin-left: 5em;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    font-size: 1.25rem;
}

.pricing-adv-right p{
    margin-bottom: 1.5em;
}

@media screen and (max-width: 1100px) {
    .pricing-adv-right{
        margin-left: 2em;
        display: block;
    }
}

@media screen and (max-width:800px) {
    .pricing-adv,
    .pricing-adv-left{
        text-align: center;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .pricing-adv-right{
        margin-top: 2em;
        margin-left: 0;
    }
    .pricing{
        padding: 5em 3em; 
    }

    .pricing-container{
        grid-gap: 0 2em;
    }
}

@media screen and (max-width: 700px) {
    
    .pricing-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .pricing-adv{
        margin-top: 4em;
    }
}

@media screen and (max-width:550px) {
    .pricing{
        padding: 4em 2em;
    }

    .pricing-adv-left h2{
        font-size: 3.5rem;
    }

    .pricing-adv-right p{
        font-size:1rem;
    }
}

@media screen and (max-width:400px) {
    .pricing-adv-left h2{
        font-size: 2rem;
    }

    .pricing-adv-left button{
        padding: 1rem 1.5rem;
    }
}

