.pricecard-container{
    color: white;
    border: 1px solid white;
    width: 80%;
    font-family: var(--font-family);
    border-radius: 15px;
    
}

.pricecard-container-upper{
    padding: 2em 4em;
}

.pricecard-container-upper h2:first-child{
    margin-bottom: 1em;
}

.pricecard-container-upper button{
    margin-top: 1em;
    padding: .5em 1.5em;
    border-radius: 15px;
    border: none;
}

.pricecard-container-bottom{
    border: 1px solid white; 
    padding: 2em 4em;
    padding-bottom: 0;
    background-color: white;
    color: black;
    border-bottom-left-radius: 15px; 
    border-bottom-right-radius: 15px;
}

.pricecard-container-bottom p{
    font-weight: 500;
}

@media screen and (max-width: 1300px) {
    .pricecard-container{
        width: 100%;
    }
}

@media screen and (max-width:1000px) {
    
    .pricecard-container-upper,
    .pricecard-container-bottom{
        padding: 1.5em 2em;
    }
}

@media screen and (max-width:700px) {

    .pricecard-container{
        display: flex;
        flex-direction: column;
        width: 50%;
        margin-bottom: 3em;
    }
    .pricecard-container-upper,
    .pricecard-container-bottom{
        padding: 2em 4em;
    }
}

@media screen and (max-width: 500px) {
    .pricecard-container{
        width: 75%;
    }

    .pricecard-container-bottom,
    .pricecard-container-upper{
        padding: 2em;
    }
}

@media screen and (max-width: 400px) {
    .pricecard-container{
        width: 80%;
    }
    .pricecard-container-bottom,
    .pricecard-container-upper{
        padding: 1em;
    }
}